/* eventos.css */

body{
		font-family: Tahoma, sans-serif;
		font-size: 1.2em;

		margin:100px 20%;
	}  

input, strong { 
		font-size: 1rem;
		padding:0.5em 1em;
		display: inline-block;
		width: 50%;
		box-sizing: border-box;
	  }	

input[type="range"] { width: 100%; }	  

strong { border:1px solid #ccc; overflow: hidden; }  

label { display: block; }	  

div { margin-bottom: 2em; }	  